@model ChineseSchool.Entities.Parent

@{
    ViewBag.Title = "ParentsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("ParentsNavBar", new { controller = "Parents", area = "Admin", parentId = Model.ParentsId, currentTab = ViewBag.currentTab })


<div class="col-md-offset-1 col-md-9 panel-primary">
    <div class="panel-heading">Edit Parents Information</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Parents Info</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ParentsId)

            <div class="form-group">
                @Html.LabelFor(model => model.Parent1Firstname, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Parent1Firstname)
                    @Html.ValidationMessageFor(model => model.Parent1Firstname)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Parent1LastName, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Parent1LastName)
                    @Html.ValidationMessageFor(model => model.Parent1LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Parent2Firstname, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Parent2Firstname)
                    @Html.ValidationMessageFor(model => model.Parent2Firstname)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Parent2Lastname, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Parent2Lastname)
                    @Html.ValidationMessageFor(model => model.Parent2Lastname)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AddressLine1, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AddressLine1)
                    @Html.ValidationMessageFor(model => model.AddressLine1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AddressLine2, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AddressLine2)
                    @Html.ValidationMessageFor(model => model.AddressLine2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ZipCode)
                    @Html.ValidationMessageFor(model => model.ZipCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryPhone, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PrimaryPhone)
                    @Html.ValidationMessageFor(model => model.PrimaryPhone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondaryPhone, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SecondaryPhone)
                    @Html.ValidationMessageFor(model => model.SecondaryPhone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryEmail, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PrimaryEmail)
                    @Html.ValidationMessageFor(model => model.PrimaryEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondaryEmail, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SecondaryEmail)
                    @Html.ValidationMessageFor(model => model.SecondaryEmail)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>