@using ChineseSchool.Extensions
@model ChineseSchool.Areas.Admin.Models.AssignEnrichmentClassViewModel
@{
    ViewBag.Title = "AddEnrichment";
}

@Html.Action("StudentNavBar", new { controller = "Student", area = "Admin", studentId = Model.Student.StudentId, currentTab = "AddEnrichment" })

<div class="col-md-offset-1 col-md-9 panel panel-primary" >
    <div class="panel-heading">Add Enrichment Class</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Chinese Name</th>
                <th>Gender</th>
                <th>Birthday</th>


            </tr>

            <tr>
                <td>@(Model.Student.Firstname + " " + Model.Student.Lastname)</td>
                <td>@Model.Student.Chinesename</td>
                <td>@Model.Student.Gender</td>
                <td>@Model.Student.Birthday</td>

            </tr>


        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div class="form-horizontal">
                <input type="hidden" name="studentId" value="@Model.Student.StudentId" />

                <div class="form-group">
                    <label class="control-label col-md-2" for="Class">Class to Assign</label>
                    <div class="col-md-10">
                        @Html.EnrichmentClassSelectList(Model.EnrichmentClasses, Model.AssignedEnrichmentClassId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="Submit" class="btn btn-default" /> 
                    </div> 
                </div>
            </div>
        }
    </div>


</div> 

