@model ChineseSchool.Areas.Admin.Models.StudentByClassViewModel
@{
    ViewBag.Title = "Students By Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-2 panel-default">
    <div class="panel-heading">Student By Class</div>
    <ul class="nav nav-pills nav-stacked ">
        <li class="@(Model.selected==-1? "active":"")">@Html.ActionLink("All", "StudentsByClass", new { controller = "Student", area = "Admin", classId = -1 }, new { @class = "icon-chevron-right nav-stacked-font" })</li>
       @foreach (var c in Model.Classes)
       {
           <li class="@(c.ClassId==@Model.selected? "active":"")">@Html.ActionLink(c.Classname, "StudentsByClass", new { controller = "Student", area = "Admin", classId = c.ClassId }, new { @class = "icon-chevron-right nav-stacked-font" })</li>
       }
        <li class="@(Model.selected==0? "active":"")">@Html.ActionLink("Not Assigned", "StudentsByClass", new { controller = "Student", area = "Admin", classId = 0 }, new { @class = "icon-chevron-right nav-stacked-font" })</li>
    </ul>
</div>
<div class="col-md-offset-1 col-md-9 panel panel-primary">
    <div class="panel-heading">Student List For Class @Model.selectedName</div>
    <div class="panel-body">
        <table class="table table-responsive table-striped" >
            <tr>
                <th>Parent Name</th>
                <th>Student Name</th>
                <th>Class</th>
                <th>Account Balance</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var s in Model.Students)
            {
                <tr>
                    <td>@s.Parent1Firstname @s.Parent1LastName</td>
                    <td>@s.Firstname @s.Lastname</td>
                    <td>@s.Classname</td>
                    <td>@s.Amount</td>
                    <td>@Html.ActionLink("Account Details","Details",new {controller="Parents",area="Admin",parentId=s.ParentsId})</td>
                    <td>@Html.ActionLink("Assign Class","AssignClass",new {controller="Student",area="Admin",studentId=s.StudentId})</td>
                    @if(s.Amount>0)
                    {
                        <td>@Html.ActionLink("Pay Invoice","PayInvoice", new {controller="Parents",area="Admin",parentId=s.ParentsId})</td>
                    }else
                    {
                        <td></td>
                    }
                    
                </tr>
            }
        </table>
    </div>
</div> 

