@model ChineseSchool.Models.DashboardViewModel
@{
    ViewBag.Title = "Parent List";
    int currentSemesterId = (int)ViewBag.currentSemesterId;
}

@Html.Action("MyAccountNavBar", new { controller = "MyAccount", area = "", currentTab = "DashBoard" })
<div class="col-md-offset-1 col-md-9 panel panel-primary">
    <br />

    <div class="panel-heading">My Accont - Dashboard &nbsp;&nbsp;&nbsp;&nbsp; <span class="text-danger">Total Amount Due: @Model.AmountDue</span></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt class="text-success">Your Name:</dt>
            <dd class="text-primarty">@Model.User.Firstname @Model.User.Lastname</dd>
            <dt class="text-success">Your Username:</dt>
            <dd class="text-primarty">@Model.User.UserName</dd>
            <dt class="text-success">Your Email Address:</dt>
            <dd class="text-primarty">@Model.User.Email</dd>

        </dl>
    </div>
    @if(Model.Parent!=null)
    { 
    <div class="panel-body">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt class="text-primary">Parent 1</dt>
                <dd class="text-primary">@Model.Parent.Parent1Firstname @Model.Parent.Parent1LastName</dd>
                <dt class="text-primary">Parent 2</dt>
                <dd class="text-primary">@Model.Parent.Parent2Firstname @Model.Parent.Parent2Lastname</dd>
                <dt class="text-primary">Primary Phone</dt>
                <dd class="text-primary">@Model.Parent.PrimaryPhone</dd>
                <dt class="text-primary">Primary Email</dt>
                <dd class="text-primary">@Model.Parent.PrimaryEmail</dd>
            </dl>
        </div>
        <div class="col-md-6 text-primary">
            Home Address<br/>
            @Model.Parent.AddressLine1<br/>
            @(@Model.Parent.AddressLine2 == null? Model.Parent.AddressLine2:null)
            @Model.Parent.City @Model.Parent.State @Model.Parent.ZipCode
        </div>

    </div>
    }
    @if(Model.Students!=null)
    { 
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Chinese Name</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Registered</th>
                <th>Class</th>
                <th>Enrichment Class</th>
            </tr>
            @foreach(var student in Model.Students)
            {
                <tr>
                    <td>@(student.Firstname+" " + student.Lastname)</td>
                    <td>@student.Chinesename</td>
                    <td>@student.Gender</td>
                    <td>@(student.Birthday.HasValue? student.Birthday.Value.ToShortDateString():"")</td>
                    <td>@(student.RegisterClass? "YES": "NO")</td>
                    <td>@student.Class</td>
                    <td>
                        @if (student.EnrichmentClassRegistrations.FirstOrDefault(e => e.SemesterId == currentSemesterId && e.ActiveFlag)!=null)
                        {
                            if (student.EnrichmentClassRegistrations.FirstOrDefault(e => e.SemesterId == currentSemesterId && e.ActiveFlag).EnrichmentClass != null) 
                            {
                                @student.EnrichmentClassRegistrations.FirstOrDefault(e=>e.SemesterId==currentSemesterId && e.ActiveFlag).EnrichmentClass.ClassName
                            }else
                            {
                                @:"N/A"
                            }
                        }else
                        {
                            @:"N/A"
                        }
                    
                    </td>
                </tr>
            }
            
        </table> 
    </div>
    }
</div>

