@model ChineseSchool.Entities.Semester

@{
    ViewBag.Title = "EditSemester";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditSemester</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Semester</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SemesterID)

        <div class="form-group">
            @Html.LabelFor(model => model.SemesterYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SemesterYear)
                @Html.ValidationMessageFor(model => model.SemesterYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SemesterSeason, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SemesterSeason)
                @Html.ValidationMessageFor(model => model.SemesterSeason)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterStartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegisterStartDate)
                @Html.ValidationMessageFor(model => model.RegisterStartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegisterEndDate)
                @Html.ValidationMessageFor(model => model.RegisterEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price1)
                @Html.ValidationMessageFor(model => model.Price1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price1Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price1Description)
                @Html.ValidationMessageFor(model => model.Price1Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price2)
                @Html.ValidationMessageFor(model => model.Price2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price2Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price2Description)
                @Html.ValidationMessageFor(model => model.Price2Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price3)
                @Html.ValidationMessageFor(model => model.Price3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price3Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price3Description)
                @Html.ValidationMessageFor(model => model.Price3Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price4)
                @Html.ValidationMessageFor(model => model.Price4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price4Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price4Description)
                @Html.ValidationMessageFor(model => model.Price4Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price5)
                @Html.ValidationMessageFor(model => model.Price5)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price5Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price5Description)
                @Html.ValidationMessageFor(model => model.Price5Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookCharge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookCharge)
                @Html.ValidationMessageFor(model => model.BookCharge)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationFeeBeforeEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationFeeBeforeEndDate)
                @Html.ValidationMessageFor(model => model.RegistrationFeeBeforeEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationFeeAfterEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationFeeAfterEndDate)
                @Html.ValidationMessageFor(model => model.RegistrationFeeAfterEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VolunteerDeposit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VolunteerDeposit)
                @Html.ValidationMessageFor(model => model.VolunteerDeposit)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
